{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<style>
 
</style>

<div class="bg-white p-8 rounded-lg shadow-md w-full max-w-sm">
    <form method="POST">
        <h2 class="mb-6 text-xl font-bold text-center text-gray-700">Login</h2>
        <div class="mb-4">
            <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
            <input type="email" id="email" name="email" required
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-0">
            <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
            <input type="password" id="password" name="password" required
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <?php if (!empty($error)): ?>
            <p class="text-red-500 text-xs italic"><?= $error; ?></p>
        <?php endif; ?>
        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-6" type="submit">
                Login
            </button>
            <!--  <a href="#" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">  -->
            <!--    Mot de passe oublié?    -->
            <!--  </a>  -->
        </div>
    </form>
</div>
{% endblock %}
